# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

/KinectSDK/1_Basics/glut/.vs/
/KinectSDK/2_Depth/.vs/
/KinectSDK/3_PointCloud/.vs/
/KinectSDK/4_SkeletalTracking/.vs/
/KinectSDK/libs/
/KinectSDK/5_PointCloud_DemoApp/log_file.txt
/KinectSDK/5_PointCloud_DemoApp/.vs/
/KinectSDK/5_PointCloud_DemoApp/log_frames/
/KinectSDK/3_PointCloud/log_frames/
